@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  text-align: center;
 
  
}
body.dark{
 
  /* background-image: url(./assets/jpeg2.jpg); */
  background : #2d3748;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  /* padding-top: 200px; */
}
body.light{
  /* background-image: url(./assets/pexels.jpg); */
  background : linear-gradient(to right, #f7fafc, #cbd5e0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  /* padding-top: 200px; */
}

/* @media (max-width: 800px) and (max-width: 1024px) {
  body{
    height:100vh;
    background-repeat: repeat-y;
  }
} */
.Light {
  
  color: yellow;
}



